{% extends "../index.html" %}
{% block body %}
<style>
    nav{    background-color:#e54304;
    }
</style>
  <div class="container">
      <div class="row">
          <!-- navbar -->
          <nav class="navbar navbar-expand-lg navbar-light " style="width:100%; color: #fff;">
            <a class="navbar-brand" href="#" style="color:#fff;">Masukan Gejala</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto my-2 my-lg-0">
                <li class="nav-item" style="text-align: center;">
                  <a class="nav-link " href="#" style="color: #fff;">Logout</a>
                </li>
              </ul>
            </div>
          </nav>
      </div>
  </div>
  <div class="grey">
        <div class="container">
            <div class="row">
                <div class="col-sm" style="text-align:center;">
                    <table class="table table-default">
                        <thead>
                            <tr>
                                <th>Nama</th>
                                <th>:</th>
                                <th>Ryan Eka</th>
                            </tr>
                            <tr>
                                <th>Umur</th>
                                <th>:</th>
                                <th>8 Tahun</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
  </div>
  <div class="container">
        <div class="row" style="padding:10px;">
            <form action="{{url('masukan-gejala')}}" method="POST">
            <input type="hidden" name="gejala" id="gejala" value="">
            <input type="hidden" name="id" value="{{Auth.user().id}}">
            <div class="col">
                <div class="form" style="max-height: 320px; overflow-y: scroll;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Kode </th>
                                <th>Nama Gejala</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for datas in data %}
                                <tr onclick="selected('{{datas.idgejala}}')">
                                    <td>{{datas.idgejala}}</td>
                                    <td>{{datas.namagejala}}</td>
                                    <td>
                                        <input type="radio"   class="form-control radio" id="{{datas.idgejala}}" >
                                    </td>
                                </tr>
                            {% endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <br><br>
                <button class="btn btn-primary btn-block" type="submit">kirim</button>                
                </form>
            </div>
        </div>
  </div>
  <script>
      function selected(id)
      {
            console.log(id);
            let radio = document.getElementsByClassName("radio");
            for (let radios in radio) {
               document.getElementsByClassName("radio")[radios].checked = false; 
            // console.log(radios);
            
            }
            document.getElementById('gejala').value = id
            document.getElementById(id).checked = true
      }
  </script>
{% endblock %}